.elementor-793 .elementor-element.elementor-element-e3b7e74 > .elementor-container{min-height:140px;}.elementor-793 .elementor-element.elementor-element-e3b7e74{margin-top:0px;margin-bottom:-140px;padding:0px 0px 0px 0px;z-index:100;}.elementor-793 .elementor-element.elementor-element-e31e85f img{height:50px;}.elementor-793 .elementor-element.elementor-element-e31e85f > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-793 .elementor-element.elementor-element-34e9a17 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-793 .elementor-element.elementor-element-002e790 .elementor-menu-toggle{margin:0 auto;}.elementor-793 .elementor-element.elementor-element-002e790 .elementor-nav-menu .elementor-item{font-family:"Roboto", Sans-serif;font-size:18px;font-weight:600;}.elementor-793 .elementor-element.elementor-element-002e790 .elementor-nav-menu--main .elementor-item{color:#FFFFFF;fill:#FFFFFF;padding-left:50px;padding-right:50px;}.elementor-793 .elementor-element.elementor-element-002e790 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-793 .elementor-element.elementor-element-002e790 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-793 .elementor-element.elementor-element-002e790 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-793 .elementor-element.elementor-element-002e790 .elementor-nav-menu--main .elementor-item:focus{color:#FFD553;fill:#FFD553;}.elementor-793 .elementor-element.elementor-element-002e790 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#FFB34E;}.elementor-793 .elementor-element.elementor-element-002e790 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-793 .elementor-element.elementor-element-002e790{width:100%;max-width:100%;}.elementor-793 .elementor-element.elementor-element-8e67311 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-793 .elementor-element.elementor-element-cd3b165{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:20px;font-weight:400;letter-spacing:15px;width:auto;max-width:auto;}.elementor-793 .elementor-element.elementor-element-cd3b165 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-793 .elementor-element.elementor-element-2533bdb > .elementor-container{min-height:780px;}.elementor-793 .elementor-element.elementor-element-2533bdb{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-793 .elementor-element.elementor-element-1bacdae > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-ffaf26d .swiper-slide-bg{background-color:#FFFFFF;background-image:url(https://hazhtaru.github.io/mywordpress/wp-content/uploads/2022/09/header.png);background-size:cover;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-ffaf26d .elementor-background-overlay{background-color:#0000004D;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-ffaf26d .swiper-slide-contents{margin:0 auto;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-ffaf26d .swiper-slide-inner{align-items:center;text-align:center;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-ffaf26d .swiper-slide-inner .elementor-slide-heading{color:#FFFFFF;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-ffaf26d .swiper-slide-inner .elementor-slide-description{color:#FFFFFF;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-ffaf26d .swiper-slide-inner .elementor-slide-button{color:#FFFFFF;border-color:#FFFFFF;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-fbc7827 .swiper-slide-bg{background-color:#4054b2;background-image:url(https://hazhtaru.github.io/mywordpress/wp-content/uploads/2022/09/header1.jpg);background-size:cover;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-fbc7827 .elementor-background-overlay{background-color:#0000004D;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-fbc7827 .swiper-slide-contents{margin:0 auto;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-fbc7827 .swiper-slide-inner{align-items:center;text-align:center;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-fbc7827 .swiper-slide-inner .elementor-slide-heading{color:#FFFFFF;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-fbc7827 .swiper-slide-inner .elementor-slide-description{color:#FFFFFF;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-fbc7827 .swiper-slide-inner .elementor-slide-button{color:#FFFFFF;border-color:#FFFFFF;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-b7d7d56 .swiper-slide-bg{background-color:#1abc9c;background-image:url(https://hazhtaru.github.io/mywordpress/wp-content/uploads/2022/09/header2.jpg);background-size:cover;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-b7d7d56 .elementor-background-overlay{background-color:#0000004D;}.elementor-793 .elementor-element.elementor-element-3f2396e .swiper-slide{height:785px;transition-duration:calc(5000ms*1.2);}.elementor-793 .elementor-element.elementor-element-3f2396e .swiper-slide-contents{max-width:100%;}.elementor-793 .elementor-element.elementor-element-3f2396e .swiper-slide-inner{padding:0px 0px 0px 0px;text-align:center;}.elementor-793 .elementor-element.elementor-element-3f2396e .swiper-slide-inner .elementor-slide-heading:not(:last-child){margin-bottom:0px;}.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-slide-button{font-family:"Roboto", Sans-serif;font-size:19px;font-weight:500;letter-spacing:2px;border-width:0px;}.elementor-793 .elementor-element.elementor-element-3f2396e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(min-width:768px){.elementor-793 .elementor-element.elementor-element-34e9a17{width:42.091%;}.elementor-793 .elementor-element.elementor-element-8e67311{width:24.222%;}}/* Start custom CSS for section, class: .elementor-element-e3b7e74 */.elementor-793 .elementor-element.elementor-element-e3b7e74.elementor-sticky--effects{
background-color: rgba(0,0,0,0.5)!important
}

.elementor-793 .elementor-element.elementor-element-e3b7e74{
transition: background-color 1s ease !important;
}

.elementor-793 .elementor-element.elementor-element-e3b7e74.elementor-sticky--effects >.elementor-container{
min-height: 100px;
}

.elementor-793 .elementor-element.elementor-element-e3b7e74 > .elementor-container{
transition: min-height 1s ease !important;
}

/*.logo img {*/
/*max-width: 140px;*/
/*height: auto;*/
/*transition: all 0.5s ease;*/
/*}*/

/*.elementor-sticky--effects .logo img {*/
/*max-width: 120px;*/
/*height: auto;*/
/*}*//* End custom CSS */
/* Start custom CSS for slides, class: .elementor-element-3f2396e */.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-ffaf26d .elementor-slide-heading{
    font-size: 18px;
    font-weight: 700;
}

.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-ffaf26d .elementor-slide-description{
    font-size: 80px;
    font-weight: 700;
}

.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-ffaf26d .elementor-slide-button{
    border-radius: 50px;
    background: #f5ad41;
    border: 0;

}

.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-fbc7827 .elementor-slide-heading{
    font-size: 60px;
    font-weight: 800;
    
}

.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-fbc7827 .elementor-slide-description{
    font-size: 35px;
    font-weight: 800;
}
.elementor-793 .elementor-element.elementor-element-3f2396e .dream{
        color: #f5ad41;
}


.elementor-793 .elementor-element.elementor-element-3f2396e .learn{
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    background: #f5ad41;
    margin-right: 5px;
}
.elementor-793 .elementor-element.elementor-element-3f2396e .buy{
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    border: 1px solid #f5ad41;
    color: #f5ad41;
    margin-left: 5px;
}

.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-b7d7d56 .elementor-slide-heading{
    font-size: 25px;
    font-weight: 800;
}

.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-b7d7d56 .elementor-slide-description{
    font-size: 50px;
    font-weight: 800;
}


.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-repeater-item-b7d7d56 .elementor-slide-button{
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    background: #f5ad41;
    font-weight: 800;
    
}



.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-swiper-button{
    font-size: 40px;
    background:  black;
    padding: 20px 20px 20px 20px;
    opacity: 0;
    transition: 2s;
    color: white;

}

.elementor-793 .elementor-element.elementor-element-3f2396e .elementor-swiper-button:hover{
    font-size: 40px;
    background:  red;
    padding: 20px 20px 20px 20px;
    opacity: 1;
    background: white;
    color: black;
    transition: 1s;
}/* End custom CSS */